* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  color: #333;
}

/* HEADER */
.header {
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.logo img {
  width: 60px;
}

.tagline {
  color: orange;
  font-size: 20px;
}

/* HERO */
.hero {
  background: #ddd;
  padding: 60px 20px;
  text-align: center;
}

.hero h2 {
  font-size: 32px;
}

.hero p {
  margin: 10px 0 20px;
}

.btn {
  background: orange;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

/* SERVICES */
.services {
  padding: 40px;
  text-align: center;
}

.service-box p {
  margin: 10px 0;
  font-size: 18px;
}

/* CONTACT */
.contact {
  background: #222;
  color: white;
  padding: 40px;
  text-align: center;
}

/* FOOTER */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}
